*{
    background-color: yellow;
}
#mapa{
    display: grid;
    grid-template-columns: repeat(31, 1fr);
    justify-content: stretch;

}
.columna{
    align-self:  stretch;
    justify-self: stretch;
    /*background-image: url(img/backgroundColumn.jpg);*/
    background-color: orange;
    
}
.camino{
    align-self: stretch;
    justify-self: stretch;
    background-color: darkgray;
}
.huella{
    background-image: url(img/huella.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}
/*.personaje{
    background-image: url(img/personaje2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: unset;
}*/

.personaje:after{
    display:inline-block;
    background-position: center;
    content:"";
    background-image: url(img/personaje.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: unset;
    width:100%;
    height:210%;
    margin: -40% 0px 0px 0px;
    z-index:6;
    overflow: initial;
    animation: andar 0.5s;
}

@keyframes andar{
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}
/*.momia{
    background-image: url(img/momiaP.gif);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;

}*/
.momia:after{
    display:inline-block;
    background-position: center;
    content:"";
    background-image: url(img/momiaP.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: unset;
    width:100%;
    height:230%;
    margin: -60% 0px 0px 0px;
    z-index:6;
    overflow: initial;
    animation: andar 0.5s;
}

#datos{
    display: flex;
    justify-content: space-around;
}

p{
    display: inline;
}

.dato{
    color: darkorange;
    font-weight: bold;
}
span{
    color: blue;
}