*{
    background-color: yellow;
}
#mapa{
    display: grid;
    grid-template-columns: repeat(31, 1fr);
    justify-content: stretch;

}
.columna{
    align-self:  stretch;
    justify-self: stretch;
    /*background-image: url(img/backgroundColumn.jpg);*/
    background-color: orange;
    
}
.camino{
    align-self: stretch;
    justify-self: stretch;
    background-color: darkgray;
}
.huella{
    background-image: url(img/huella.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}
.personaje{
    background-image: url(img/personaje2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: unset;
}
.momia{
    background-image: url(img/momia.png);
    background-repeat: no-repeat;
    background-size: 153%;
    background-position: center;

}
