/*
CSS Base for the Miskatonic Herald
*/

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

/*
* CSS for body
*/

body{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    
    /*background-color:#323232;*/
    background-image:url("https://picsum.photos/1600/900");
    font-family: 'OuroborosRegular';
    font-weight: normal;
    font-style: normal;
    margin: 0;
    color:#ffffff;
}


/*
* CSS for items
*/
/*AÑADIDO POR MI*/
content{
    background: rgba(0, 0, 0, 0.4);
    height: 80vh;
}

items{
    margin: 5%,0px ;
    
    
}

item{
    display: flex;
    justify-content: center;
}

/*
* CSS for body
*/

button{
    background-image: linear-gradient(rgba(219,54,164,1) 0%, rgba(193,70,161,1) 49%,rgba(203,96,179,1) 89%);
    /* background-color:#753a75; */
    /* background: -o-linear-gradient(top,  0%, rgba(168,0,119,1) 0%,  49%, rgba(202,93,177,1) 89%, rgba(203,96,179,1) 95%); */
	border-radius:6px;
	border:1px solid white;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:150%;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
     transition: transform 1s;
}

button:hover {
    transform: scale(1.1);
    
    
    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
}

button:active {
    box-shadow: 1px 2px black;
    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
}


/*
* CSS for steps
* - Includes the opacity for the 
*   animation that makes this more
*   dinamyc, but is only a simple
*   GUI.
*/

steps{
    margin-top: 4vh;
   display:grid;
   grid-template-columns: 1fr 2fr 1fr;
   grid-gap: 2vh;
    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
}

/*
* CSS for all the steps
* with class (estabaEscondido)
* that turns the element visible
* with a transition.
*/
steps * {
    opacity: 0;
    transition: 1s;
   /* transition: opacity 1s;*/
    
    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
}

.estabaEscondido{
    
    /*opacity: 0;*/
    
   
    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
}


/*Progress*/
/*
* CSS for ProgressBars
*/
progress{
    /* width:0%; */
    transition: 0.01s; 
    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
}

steplabel{
    margin-left: 40px;
}


finalmsg{
    justify-self: center;
    animation: neon 1.2s linear infinite;
    /* margin-left: 20px; */
    /* border: 1px solid red; */
    border-radius: 100%;
    /* padding: 5px; */
    text-align: center;
    width:100%;
    
    
    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
}

@keyframes neon {
    0%{
        box-shadow: 0px 0px 70px -2px lightgrey;
        /* background: lightgrey; */
        text-shadow: -1px -1px 0.5px #612c36, 1px 1px 0.5px #612c36, -1px 1px 0.5px #612c36, 1px -1px 0.5px #612c36;
        color:#a7911f;
        /* box-shadow: -1px 0px 56px 16px rgba(0,0,0,0.92); */
    }
    50%{
        /* background: dimgrey; */
        box-shadow: 0px 0px 70px 1px dimgrey;
        text-shadow: -1px -1px 0.5px #612c36, 1px 1px 0.5px #612c36, -1px 1px 0.5px #612c36, 1px -1px 0.5px #612c36;
        color:#f1d024;
        /* color: #520c1a; */
    }
    100%{
        /* background: lightgrey; */
        box-shadow: 0px 0px 70px -2px lightgrey;
        text-shadow: -1px -1px 0.5px #612c36, 1px 1px 0.5px #612c36, -1px 1px 0.5px #612c36, 1px -1px 0.5px #612c36;
        color:#a7911f;
        /* box-shadow: -1px 0px 56px 16px rgba(0,0,0,0.92); */
    }
    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
}

