 /*Aquí esta los tamaños del git he puesto que el numero es la mitad que la palabra*/
 .container{
     display: grid;
     grid-gap: 20px;
     grid-template-columns: 1fr 2fr 1fr 2fr;
     grid-template-rows: repeat(5, 1fr);
 }
 .item:nth-child(odd){
     background-color: gray;
 }

 .item2{
     grid-column-end: span 3;
 }

 h1{
     text-align: center;
 }

 /*Aqui cojo el Hover de los impares y el item inmediatamente siguiente con el +
 y luego una coma y el hover de este item otra vez ya que si no, no se aplica a si mismo*/
 .item:nth-child(2n-1):hover + .item , .item:nth-child(2n-1):hover{
    box-shadow: 10px 10px;
 }


 #SealOfApproval{
    background-image: url(cthulhu_approval.gif);
    content: "";
    background-size: 200px 170px;
    width: 143px;
    height: 120px; 
     /*Con un position fixed puedo ponerlo abajo a la derecha*/
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 30px;
    
 }